* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    text-align: center;
    margin: 2em 0; 
}

svg, #current-high {
    padding-right: 1ch;
}

.large-text {
    font-size: 2em;
}

.container {
    border: 1px solid black;
    border-radius: 10px;
  padding: 1em;
}

.flex {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.center {
    justify-content: center;
}

.apart {
    justify-content: space-between;
}

.main {
    max-width: 80%;
    margin: 0px auto;
    display: grid;
    grid-template-rows: 3fr 3fr 2fr 1fr;
    padding: 1em;
}

.overview {
    text-align: center;
    padding-top: 2em;
}

.forecast-display {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
}

.forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    border-top: 1px solid gray;
}

.display-feel {
    width: 45%; 
    height: 70%;
}