* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #97cbe8;
}

form {
    text-align: center;
    margin: 2em 0; 
}

.main {
    background-color: rgba(255, 255, 255, 0.7);
}

svg, #current-high {
    padding-right: 1ch;
}

.large-text {
    font-size: 2em;
}

.container {
    border: 1px solid lightgray;
    border-radius: 10px;
  padding: 1em;
}

.flex {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.center {
    justify-content: center;
}

.apart {
    justify-content: space-between;
}

.main {
    max-width: 80%;
    margin: 0px auto;
    display: grid;
    grid-template-rows: 3fr 3fr 2fr 1fr;
    padding: 1em;
}

.overview {
    text-align: center;
    padding-top: 2em;
}

.forecast-display {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
}

.forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    border-top: 1px solid lightgray;
}

.display-feel {
    width: 45%; 
    height: 70%;
}

.sunny {
    background-image: url('sunny.png');
}

.cloudy {
    background-image: url('cloudy\ \(1\).png');
}

.partly-cloudy {
    background-image: url('partly-cloudy.png');
}

.rain {
    background-image: url('rain.png');
}

.storm {
    background-image: url('storm.png');
}

.snow {
    background-image: url('snow');
}

.wind {
    background-image: url('wind');
}